<h1>Registro de usuario</h1>
<form id="registerForm">
    <label for="input_first_name">Nombre</label><input id="input_first_name" name="first_name" type="text"><br>
    <label for="input_last_name">Apellido</label><input id="input_last_name" name="last_name" type="text"><br>
    <label for="input_email">email</label><input id="input_email" name="email" type="text"><br>
    <label for="input_age">Edad</label><input id="input_age" name="age" type="text"><br>
    <label for="input_password">Constrasena</label><input id="input_password" name="password" type="text"><br>
    <button type="submit">Registrarme</button><br>
</form>

    <script src="/js/registro.js" type="application/js"></script>